= form_with(model: opportunity, local: true) do |f|
  - if opportunity.errors.any?
    #error_explanation
      %h2
        = pluralize(opportunity.errors.count, "error")
        prohibited this opportunity from being saved:
      %ul
        - opportunity.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :image, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :image
      .help-block
        = t('text.the_maximum_file_size_allowed_is', size: '2MB')
        %br/
        = t('text.allowed_formats', size: '2MB')
  .form-group
    = f.label :name, class: 'col-sm-2 control-label required'
    .col-sm-4
      = f.text_field :name, class: 'form-control', required: true
  .form-group
    = f.label :phone, class: 'col-sm-2 control-label required'
    .col-sm-4
      = f.text_field :phone, class: 'form-control', required: true
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :job_title, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :job_title, class: 'form-control'
  .form-group
    = f.label :best_time_to_call, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :best_time_to_call, class: 'form-control'
  .actions
    = f.submit
